downloads/
cache_html/
old/
__pycache__/
test_docs/

*copy*

*.ps1
*.txt
*.log
*.json
!package.json
!package-lock.json
!leaderboard.json
!dashboard_data_map.json
!dashboard_data_details.json
!contaminant_categories.yaml
!contaminant_limits.yaml
*.7z
*.zip
!texas_water_quality.csv.zip
*.gz
*.md
!README.md
*.tmp
*.csv
!texas_water_quality.csv
*bak/
*debug/
node_modules/
on-website-*
js_lint_report.md
